@import url('https://fonts.googleapis.com/css?family=Oswald');

*{margin:0;padding:0;border:0;box-sizing:border-box;}

:root {
  --main-color: #616b48;
  --secondary-color: /*#52486B*/ #d5a95b;
  --white-color:  #fff;
  --body-color: #777;
}

body{
    font-family:  Arial, sans-serif;
    color: var(--body-color);
}

h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--main-color);
}

header {display:grid;grid-template-columns:1fr 1fr;align-items: center;}

#logo {margin-left:30px;}
#logo img {max-height:125px;}

#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 3px solid var(--secondary-color);
    color: var(--secondary-color);
}

.active{
    border-bottom: 3px solid var(--secondary-color);
    color: var(--secondary-color);
}

#hero-image{
    height:600px;
    width: 100%;
    background: url("../../assets/images/background-travel-smaller.jpg") no-repeat center center;
    background-size:cover;
    
    animation: zoom-in-zoom-out 15s ease-in-out 2;
    animation-delay: 3s;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}

#cover-text, #cover-text h2 {
    color: var(--white-color);
}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(97,107,72, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

#club-ethos{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid var(--main-color);
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../../assets/images/compass.jpg") no-repeat center center;
    background-size:cover;
    height: 100%;
    border-radius: 50%;
}

.fa, .fas, .fab, i {color:var(--secondary-color);}

#times {display:grid;grid-template-columns:repeat(5, 1fr);grid-gap:5px;background:url("../../assets/images/travel-plan.jpg") no-repeat center center;background-size:cover;width:100%;overflow:hidden;}
#times .times-block {height:auto;padding:3rem 0;text-align:center;color: var(--white-color);background-color: rgba(0,0,0, .6);}
#times .times-block:hover {background-color:rgba(0,0,0, .9);
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;}

#times h2, #times i {color: var(--white-color);}
#times h2 {margin:0 2rem 1.5rem;border-bottom:4px solid var(--white-color);}
#times h3 {margin-bottom:1rem;}

footer{/*height:150px;*/}

footer ul.social-networks{text-align:center;list-style:none;}

ul.social-networks li{display:inline-block;padding:1rem 1.5rem;font-size:30px;}
ul.social-networks li i{font-size:30px;color: var(--main-color);}

/* Gallery */ 
#image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 10px;
}

.image {
    width: 100%;
    height:100%;
    max-height: 260px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
}

.image-attribution-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.image-attribution-container:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.attribution {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    display: none;
}

.image-attribution-container:hover .attribution {
    display: block;
}

.attribution a {
  color: var(--secondary-color);
}

/* Form */

.form-section {
    clear: left;
    background: url("../../assets/images/prepare-to-travel.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color:  var(--white-color);;
    background-color: rgba(60, 60, 60, 0.9);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color:  var(--white-color);;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color:  var(--white-color);;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid  var(--white-color);;
    border-radius: 2px;
}

.text-input:hover {
    border-color:  var(--main-color);;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:  var(--main-color);;
    color:  var(--white-color);;
    display: block;
}

.join-button:hover {
    background-color:  var(--white-color);;
    color:  var(--main-color);;
}


/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */

@media screen and (max-width: 1200px){
    #club-ethos{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about, #right-about {
        width:100%;
        float:left;
        padding: 0;
    }

    #center-about{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times div {
        width: 100%;
        clear: both;
        height: 150px;
        border-style: solid;
        border-bottom-width: 1px;
        border-bottom-color:  var(--white-color);; 
        padding: 0;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 943px){

    #menu{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0px;
    }

    #club-ethos{
        width:90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading{
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2{
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 20px 0 20px;
    }

    #photo{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* For Tablets */
@media screen and (max-width: 800px){
    #photo{
        grid-template-columns: 1fr 1fr;
    }
}

/* For Mobile */
@media screen and (max-width: 550px){

}
